<form method="post" action="/account">
  <input type="text" name="customer[first_name]" placeholder="First Name" required>
  <input type="text" name="customer[last_name]" placeholder="Last Name" required>
  
  <label for="birthday">Date of Birth:</label>
  <input type="date" id="birthday" name="properties[Date of Birth]">

  <button type="submit">Register</button>
</form>
